body {
    background-color: black;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'Geist';
  src: url('Geist-Regular.woff2');
}

@font-face {
  font-family: 'GeistBold';
  src: url('Geist-UltraBlack.woff2');
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(0);
  overflow: hidden;
  font-family: 'Geist';
}

.userDetectionField {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: 
    radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%),
    radial-gradient(rgb(255, 255, 255) 14%, transparent 14%),
    radial-gradient(rgb(255, 255, 255) 14%, transparent 14%);
  background-position: center, 0px 0px, 50px 50px;
  background-size: cover, 50px 50px, 50px 50px;
  background-color: rgb(0, 0, 0);
  filter: brightness(0);
}

.brighten {
  animation: brightenAnimation 1s ease forwards;
}
  
.dim {
  animation: dimAnimation 1s ease forwards;
}
  
@keyframes brightenAnimation {
  from{
    filter: brightness(0);
  }
  to {
    filter: brightness(1);
  }
}
  
@keyframes dimAnimation {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(0);
  }
}
  

.headerBar {

  position: absolute;
  width: 100%;
  height: 20%;
  color: white;
  display: flex;
  align-items: flex-start; 
  flex-direction: column;
  justify-content: center;

  h1, h2 {
    width: max-content; 
    margin: 0 auto; 
  }
  
  h1 {
    font-size: 5vh;
    margin: 0;
    font-family: 'GeistBold';
  }

  .qrCodeContainer {
    margin-right: 5%;
    border: 20px solid white;
    border-radius: 25px;
  }

  .timeContainer {

    margin-left: 2.5%;
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;

  }

  .userContainer {

    margin-left: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
      color: white;
      margin-right: 2.5%;
    }

  }

}

.content {

  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 10%;

  .contentCard {
    position: absolute;
    height: 90%;
    width: 95%;
    margin: 2.5%;
    color: white;
    text-align: center;
  }

  .react-calendar {

    display: none;
    position: absolute;
    width: 100%;
    font-size: 2vh;
    border: none;
    background-color: transparent;

    .react-calendar__navigation { display: none; }
    .react-calendar__month-view__days { background-color: white; }

  }

}

.footer {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  display: flex;
  justify-content: center;

  p {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
    background-color: white;
    padding: 10px;
    border-radius: 15px;

   i {
    margin-right: 5px;
   }
  }
}

// Global Classes

.hidden {
  display: none;
}