body {
    background-color: black;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;
}

.systemPrompts {

  display: none;
  
  position: absolute;
  top: 10%;
  width: 50%;
  height: 10%;
  text-align: center;
  filter: brightness(0);
  z-index: 2;

  p {
    font-size: 2vh;
    color: black;
    font-weight: bold;
    margin-left: 2.5%;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 1s;
    background-color: white;
    padding: 20px;
    border-radius: 25px;

    svg {
      font-size: 3vh;
      margin-right: 5px;
    }

    .green {color: green;}
    .orange {color: orange;}
    .red {color: red;}

  }
}

.userDetectionField {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: 
    radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%),
    radial-gradient(rgb(255, 255, 255) 14%, transparent 14%),
    radial-gradient(rgb(255, 255, 255) 14%, transparent 14%);
  background-position: center, 0px 0px, 50px 50px;
  background-size: cover, 50px 50px, 50px 50px;
  background-color: rgb(0, 0, 0);
  filter: brightness(0);
}

.brighten {
  animation: brightenAnimation 1s ease forwards;
}
  
.dim {
  animation: dimAnimation 1s ease forwards;
}
  
@keyframes brightenAnimation {
  to {
    filter: brightness(1);
  }
}
  
@keyframes dimAnimation {
  from {
    filter: brightness(1);
  }
  to {
    filter: brightness(0);
  }
}
  

.dateTimeModule {
  position: absolute;
  width: 100%;
  height: 7.5%;
  top: 0;
  color: white;
  display: flex;
  align-items: center; 
  justify-content: center;

  .qrCodeContainer {
    margin-right: 5%;
    border: 20px solid white;
    border-radius: 25px;
  }

  .timeContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

  }

  h1, h2 {
    margin: 0; 
  }

  h1 {
    font-size: 5vh;
  }

  h2 {
    font-size: 3vh;
  }

}

.dateTimeModule.whiteBackground {

/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.contentSection {

  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;

  .react-calendar {

    display: none;

    position: absolute;
    width: 100%;
    font-size: 2vh;
    border: none;
    background-color: transparent;

    .react-calendar__navigation { display: none;}

    .react-calendar__month-view__days {
      background-color: white;
    }

  }

}

// Global Classes

.hidden {
  display: none;
}